# Decision Tree Stock Close Price Prediction

In [1]:
# decision tree used to predict if the price of stock will increase or decrease
# tomorrows close price higher or lower than todays close price

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import numpy as np
import pandas as pd

In [3]:
# load data
df = pd.read_csv("C:/Users/Mathe/Desktop/TSLA.csv")

In [8]:
# set date as index
df = df.set_index(pd.DatetimeIndex(df['Date'].values))
# give index a name
df.index.name = 'Date'

In [11]:
df

,Open,High,Low,Close,Adj Close,Volume,Price_Up
Date,,,,,,,
2020-10-15,450.309998,456.570007,442.500000,448.880005,448.880005,35672400,0
2020-10-16,454.440002,455.950012,438.850006,439.670013,439.670013,32775900,0
2020-10-19,446.239990,447.000000,428.869995,430.829987,430.829987,36287800,0
2020-10-20,431.750000,431.750000,419.049988,421.940002,421.940002,31656300,1
2020-10-21,422.700012,432.950012,421.250000,422.640015,422.640015,32370500,1
...,...,...,...,...,...,...,...
2021-10-08,796.210022,796.380005,780.909973,785.489990,785.489990,16711100,1
2021-10-11,787.650024,801.239990,785.500000,791.940002,791.940002,14200300,1
2021-10-12,800.929993,812.320007,796.570007,805.719971,805.719971,22020000,1
2021-10-13,810.469971,815.409973,805.780029,811.080017,811.080017,14120100,1
2021-10-14,815.489990,820.250000,813.349976,818.320007,818.320007,12203200,0

In [10]:
# manipulate data - create target column
df['Price_Up'] = np.where(df['Close'].shift(-1) > df['Close'], 1, 0) # shift(-1) is tomorrows close price, return value 1 when
# tomorrows close price is greater than todays close price else return 0

# remove date column
df = df.drop(columns=['Date'])

In [32]:
# split data set into a feature and a target data set
X = df.iloc[:, 0:df.shape[1]-1].values # dont want last column
Y = df.iloc[:, df.shape[1]-1].values

# 80% training, 20% testing sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

# create and train the model (DecisionTreeClassifier)
tree = DecisionTreeClassifier().fit(X_train, Y_train)

# evaluate model
print(tree.score(X_test, Y_test))

0.6862745098039216

In [33]:
# show model predictions
tree_predictions = tree.predict(X_test)
print(tree_predictions)

[1 0 1 1 0 0 0 1 0 1 0 0 1 0 0 1 0 0 1 1 1 1 0 1 0 0 0 0 0 0 1 0 1 0 0 1 1
 0 1 0 1 1 0 0 1 1 1 1 0 0 1]

In [34]:
# show actual values
Y_test

array([0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 1, 1])